* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100%;
}

.list {
  display: flex;
  gap: 3rem;
  font-size: 1.1rem;
  border-bottom: 2px solid #333;
}

.list li {
  list-style: none;
}

.list li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.isChecked {
  text-decoration: line-through;
}
